MARIADB_ROOT_PASSWORD=change_me_root
RCT_DB_NAME=rct
RCT_DB_USER=rct
RCT_DB_PASSWORD=change_me_db
# >= 32 Bytes, z. B.: openssl rand -base64 48
JWT_KEY=change_me_to_a_random_string_of_at_least_32_bytes
API_EXTERNAL_PORT=5080
FRONTEND_EXTERNAL_PORT=8090
ASPNETCORE_ENVIRONMENT=Production
